.ant-table-thead > tr > th{
    text-align: center !important;
    background-color: #aab6e5 !important;
}
.ant-table-placeholder {
    text-align: center;
    visibility: hidden;
}
body {
    overflow-y: hidden;
  }